
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  margin: 0;
  color: var(--color-text);
  background-color: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .row {
    margin: 0;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: $vt-c-white;
    --color-background-soft: $vt-c-white-soft;
    --color-background-mute: $vt-c-white-mute;

    --color-border: $vt-c-divider-white-2;
    --color-border-hover: $vt-c-divider-white-1;

    --color-heading: $vt-c-text-white-1;
    --color-text: $vt-c-text-white-2;
  }
}

// Dark mode styles
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: $vt-c-black;
    --color-background-soft: $vt-c-black-soft;
    --color-background-mute: $vt-c-black-mute;

    --color-border: $vt-c-divider-dark-2;
    --color-border-hover: $vt-c-divider-dark-1;

    --color-heading: $vt-c-text-dark-1;
    --color-text: $vt-c-text-dark-2;
  }
}
